<!-- banner -->
<div class="header">
    <div class="header_left">
    <h3 STYLE="color:rgb(234,51,83);"><i CLASS="fa fa-dot-circle-o"></i> Balinder Walia's Set of Confidential Files (Case No: BV19D04814)</h3>
    </div>
    <div class="header_right">
        <div class="w3_agile_login">
            <div class="cd-main-header">
                
                <!-- cd-header-buttons -->
            </div>
        </div>
    </div>
        <div class="clearfix"></div>
    
</div>
