<nav class="navbar navbar-expand-sm bg-dark navbar-dark ">
  <a class="navbar-brand" href="#">&nbsp;&rArr;</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="collapsibleNavbar">
    <ul class="navbar-nav">
    <li class="nav-item">
      <a class="nav-link" href="index">Dashboard <small>New</small></a>
      </li>
      <li class="nav-item">
      <a class="nav-link" href="customers">Customers</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Contacts</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Leads</a>
    </li>    
    <li class="nav-item">
      <a class="nav-link" href="#">Sales Invoices</a>
      </li>    
      <li class="nav-item">
      <a class="nav-link" href="#">Sales Orders <small>New</small></a>
      </li>    
      <li class="nav-item">
      <a class="nav-link" href="#">Purchase Orders</a>
      </li>    
      <li class="nav-item">
      <a class="nav-link" href="#">Purchase Invoices</a>
      </li>
      <li class="nav-item">
      <a class="nav-link" href="documents">Documents</a>
      </li>

                <!-- Reports -->
<li class="nav-item dropdown">
  <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
    Reports
  </a>
  <div class="dropdown-menu">
    <a class="dropdown-item" href="#">Sales Report</a>
    <a class="dropdown-item" href="#">Profit and Loss Report</a>
    <a class="dropdown-item" href="#">Expense Report</a>
  </div>
  </li>

  
          <!-- Settings -->
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
              Settings
            </a>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="#">Data Sets Manager</a>
              <a class="dropdown-item" href="#">Enable/Disable Features</a>
            </div>
            </li>
              

        </ul>
  </div>  

  <form class="form-inline" action="#" onClick="searchDo()">
    <input size="40px" id="searchKeywords" class="form-control mr-sm-2" type="text" placeholder="Search">
    <button class="btn btn-danger" type="submit">Search</button>
    </form>

    
  </nav>
  <br>
